/*
Airflow API

Airflow API. All endpoints located under ``/api/v2`` can be used safely, are stable and backward compatible. Endpoints located under ``/ui`` are dedicated to the UI and are subject to breaking change depending on the need of the frontend. Users should not rely on those but use the public ones instead.

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package airflow

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// TaskInstanceAPIService TaskInstanceAPI service
type TaskInstanceAPIService service

type TaskInstanceAPIBulkTaskInstancesRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	bulkBodyBulkTaskInstanceBody *BulkBodyBulkTaskInstanceBody
}

func (r TaskInstanceAPIBulkTaskInstancesRequest) BulkBodyBulkTaskInstanceBody(bulkBodyBulkTaskInstanceBody BulkBodyBulkTaskInstanceBody) TaskInstanceAPIBulkTaskInstancesRequest {
	r.bulkBodyBulkTaskInstanceBody = &bulkBodyBulkTaskInstanceBody
	return r
}

func (r TaskInstanceAPIBulkTaskInstancesRequest) Execute() (*BulkResponse, *http.Response, error) {
	return r.ApiService.BulkTaskInstancesExecute(r)
}

/*
BulkTaskInstances Bulk Task Instances

Bulk update, and delete task instances.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @return TaskInstanceAPIBulkTaskInstancesRequest
*/
func (a *TaskInstanceAPIService) BulkTaskInstances(ctx context.Context, dagId string, dagRunId string) TaskInstanceAPIBulkTaskInstancesRequest {
	return TaskInstanceAPIBulkTaskInstancesRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
	}
}

// Execute executes the request
//  @return BulkResponse
func (a *TaskInstanceAPIService) BulkTaskInstancesExecute(r TaskInstanceAPIBulkTaskInstancesRequest) (*BulkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.BulkTaskInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkBodyBulkTaskInstanceBody == nil {
		return localVarReturnValue, nil, reportError("bulkBodyBulkTaskInstanceBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkBodyBulkTaskInstanceBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIDeleteTaskInstanceRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	mapIndex *int32
}

func (r TaskInstanceAPIDeleteTaskInstanceRequest) MapIndex(mapIndex int32) TaskInstanceAPIDeleteTaskInstanceRequest {
	r.mapIndex = &mapIndex
	return r
}

func (r TaskInstanceAPIDeleteTaskInstanceRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.DeleteTaskInstanceExecute(r)
}

/*
DeleteTaskInstance Delete Task Instance

Delete a task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @return TaskInstanceAPIDeleteTaskInstanceRequest
*/
func (a *TaskInstanceAPIService) DeleteTaskInstance(ctx context.Context, dagId string, dagRunId string, taskId string) TaskInstanceAPIDeleteTaskInstanceRequest {
	return TaskInstanceAPIDeleteTaskInstanceRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *TaskInstanceAPIService) DeleteTaskInstanceExecute(r TaskInstanceAPIDeleteTaskInstanceRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.DeleteTaskInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mapIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", r.mapIndex, "form", "")
	} else {
		var defaultValue int32 = -1
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", defaultValue, "form", "")
		r.mapIndex = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetExternalLogUrlRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	tryNumber int32
	mapIndex *int32
}

func (r TaskInstanceAPIGetExternalLogUrlRequest) MapIndex(mapIndex int32) TaskInstanceAPIGetExternalLogUrlRequest {
	r.mapIndex = &mapIndex
	return r
}

func (r TaskInstanceAPIGetExternalLogUrlRequest) Execute() (*ExternalLogUrlResponse, *http.Response, error) {
	return r.ApiService.GetExternalLogUrlExecute(r)
}

/*
GetExternalLogUrl Get External Log Url

Get external log URL for a specific task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param tryNumber
 @return TaskInstanceAPIGetExternalLogUrlRequest
*/
func (a *TaskInstanceAPIService) GetExternalLogUrl(ctx context.Context, dagId string, dagRunId string, taskId string, tryNumber int32) TaskInstanceAPIGetExternalLogUrlRequest {
	return TaskInstanceAPIGetExternalLogUrlRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		tryNumber: tryNumber,
	}
}

// Execute executes the request
//  @return ExternalLogUrlResponse
func (a *TaskInstanceAPIService) GetExternalLogUrlExecute(r TaskInstanceAPIGetExternalLogUrlRequest) (*ExternalLogUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExternalLogUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetExternalLogUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/externalLogUrl/{try_number}"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"try_number"+"}", url.PathEscape(parameterValueToString(r.tryNumber, "tryNumber")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tryNumber < 0 {
		return localVarReturnValue, nil, reportError("tryNumber must be greater than 0")
	}

	if r.mapIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", r.mapIndex, "form", "")
	} else {
		var defaultValue int32 = -1
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", defaultValue, "form", "")
		r.mapIndex = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetExtraLinksRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	mapIndex *int32
	tryNumber *int32
}

func (r TaskInstanceAPIGetExtraLinksRequest) MapIndex(mapIndex int32) TaskInstanceAPIGetExtraLinksRequest {
	r.mapIndex = &mapIndex
	return r
}

func (r TaskInstanceAPIGetExtraLinksRequest) TryNumber(tryNumber int32) TaskInstanceAPIGetExtraLinksRequest {
	r.tryNumber = &tryNumber
	return r
}

func (r TaskInstanceAPIGetExtraLinksRequest) Execute() (*ExtraLinkCollectionResponse, *http.Response, error) {
	return r.ApiService.GetExtraLinksExecute(r)
}

/*
GetExtraLinks Get Extra Links

Get extra links for task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @return TaskInstanceAPIGetExtraLinksRequest
*/
func (a *TaskInstanceAPIService) GetExtraLinks(ctx context.Context, dagId string, dagRunId string, taskId string) TaskInstanceAPIGetExtraLinksRequest {
	return TaskInstanceAPIGetExtraLinksRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return ExtraLinkCollectionResponse
func (a *TaskInstanceAPIService) GetExtraLinksExecute(r TaskInstanceAPIGetExtraLinksRequest) (*ExtraLinkCollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExtraLinkCollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetExtraLinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/links"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mapIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", r.mapIndex, "form", "")
	} else {
		var defaultValue int32 = -1
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", defaultValue, "form", "")
		r.mapIndex = &defaultValue
	}
	if r.tryNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "try_number", r.tryNumber, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetHitlDetailRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	mapIndex int32
}

func (r TaskInstanceAPIGetHitlDetailRequest) Execute() (*HITLDetail, *http.Response, error) {
	return r.ApiService.GetHitlDetailExecute(r)
}

/*
GetHitlDetail Get Hitl Detail

Get a Human-in-the-loop detail of a specific task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param mapIndex
 @return TaskInstanceAPIGetHitlDetailRequest
*/
func (a *TaskInstanceAPIService) GetHitlDetail(ctx context.Context, dagId string, dagRunId string, taskId string, mapIndex int32) TaskInstanceAPIGetHitlDetailRequest {
	return TaskInstanceAPIGetHitlDetailRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		mapIndex: mapIndex,
	}
}

// Execute executes the request
//  @return HITLDetail
func (a *TaskInstanceAPIService) GetHitlDetailExecute(r TaskInstanceAPIGetHitlDetailRequest) (*HITLDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HITLDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetHitlDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/{map_index}/hitlDetails"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"map_index"+"}", url.PathEscape(parameterValueToString(r.mapIndex, "mapIndex")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetHitlDetailTryDetailRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	mapIndex int32
	tryNumber int32
}

func (r TaskInstanceAPIGetHitlDetailTryDetailRequest) Execute() (*HITLDetailHistory, *http.Response, error) {
	return r.ApiService.GetHitlDetailTryDetailExecute(r)
}

/*
GetHitlDetailTryDetail Get Hitl Detail Try Detail

Get a Human-in-the-loop detail of a specific task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param mapIndex
 @param tryNumber
 @return TaskInstanceAPIGetHitlDetailTryDetailRequest
*/
func (a *TaskInstanceAPIService) GetHitlDetailTryDetail(ctx context.Context, dagId string, dagRunId string, taskId string, mapIndex int32, tryNumber int32) TaskInstanceAPIGetHitlDetailTryDetailRequest {
	return TaskInstanceAPIGetHitlDetailTryDetailRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		mapIndex: mapIndex,
		tryNumber: tryNumber,
	}
}

// Execute executes the request
//  @return HITLDetailHistory
func (a *TaskInstanceAPIService) GetHitlDetailTryDetailExecute(r TaskInstanceAPIGetHitlDetailTryDetailRequest) (*HITLDetailHistory, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HITLDetailHistory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetHitlDetailTryDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/{map_index}/hitlDetails/tries/{try_number}"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"map_index"+"}", url.PathEscape(parameterValueToString(r.mapIndex, "mapIndex")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"try_number"+"}", url.PathEscape(parameterValueToString(r.tryNumber, "tryNumber")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetHitlDetailsRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	limit *int32
	offset *int32
	orderBy *[]string
	dagIdPattern *string
	dagIdPrefixPattern *string
	taskId *string
	taskIdPattern *string
	taskIdPrefixPattern *string
	mapIndex *int32
	state *[]string
	responseReceived *bool
	respondedByUserId *[]string
	respondedByUserName *[]string
	subjectSearch *string
	bodySearch *string
	createdAtGte *time.Time
	createdAtGt *time.Time
	createdAtLte *time.Time
	createdAtLt *time.Time
}

func (r TaskInstanceAPIGetHitlDetailsRequest) Limit(limit int32) TaskInstanceAPIGetHitlDetailsRequest {
	r.limit = &limit
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) Offset(offset int32) TaskInstanceAPIGetHitlDetailsRequest {
	r.offset = &offset
	return r
}

// Attributes to order by, multi criteria sort is supported. Prefix with &#x60;-&#x60; for descending order. Supported attributes: &#x60;ti_id, subject, responded_at, created_at, responded_by_user_id, responded_by_user_name, dag_id, run_id, task_display_name, run_after, rendered_map_index, task_instance_operator, task_instance_state&#x60;
func (r TaskInstanceAPIGetHitlDetailsRequest) OrderBy(orderBy []string) TaskInstanceAPIGetHitlDetailsRequest {
	r.orderBy = &orderBy
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;dag_id_prefix_pattern&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetHitlDetailsRequest) DagIdPattern(dagIdPattern string) TaskInstanceAPIGetHitlDetailsRequest {
	r.dagIdPattern = &dagIdPattern
	return r
}

// Prefix match — returns items whose value starts with the given string (case-sensitive, index-friendly). Use the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1|dag2&#x60;). Use &#x60;~&#x60; to match all. Wildcard characters (&#x60;%&#x60;, &#x60;_&#x60;) are treated as literal characters. Trailing non-alphanumeric characters in the prefix are stripped before matching so the range scan stays index-compatible under locale-aware collations — e.g. &#x60;test_&#x60; effectively matches items starting with &#x60;test&#x60;, and &#x60;s3://&#x60; matches items starting with &#x60;s3&#x60;.
func (r TaskInstanceAPIGetHitlDetailsRequest) DagIdPrefixPattern(dagIdPrefixPattern string) TaskInstanceAPIGetHitlDetailsRequest {
	r.dagIdPrefixPattern = &dagIdPrefixPattern
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) TaskId(taskId string) TaskInstanceAPIGetHitlDetailsRequest {
	r.taskId = &taskId
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;task_id_prefix_pattern&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetHitlDetailsRequest) TaskIdPattern(taskIdPattern string) TaskInstanceAPIGetHitlDetailsRequest {
	r.taskIdPattern = &taskIdPattern
	return r
}

// Prefix match — returns items whose value starts with the given string (case-sensitive, index-friendly). Use the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1|dag2&#x60;). Use &#x60;~&#x60; to match all. Wildcard characters (&#x60;%&#x60;, &#x60;_&#x60;) are treated as literal characters. Trailing non-alphanumeric characters in the prefix are stripped before matching so the range scan stays index-compatible under locale-aware collations — e.g. &#x60;test_&#x60; effectively matches items starting with &#x60;test&#x60;, and &#x60;s3://&#x60; matches items starting with &#x60;s3&#x60;.
func (r TaskInstanceAPIGetHitlDetailsRequest) TaskIdPrefixPattern(taskIdPrefixPattern string) TaskInstanceAPIGetHitlDetailsRequest {
	r.taskIdPrefixPattern = &taskIdPrefixPattern
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) MapIndex(mapIndex int32) TaskInstanceAPIGetHitlDetailsRequest {
	r.mapIndex = &mapIndex
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) State(state []string) TaskInstanceAPIGetHitlDetailsRequest {
	r.state = &state
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) ResponseReceived(responseReceived bool) TaskInstanceAPIGetHitlDetailsRequest {
	r.responseReceived = &responseReceived
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) RespondedByUserId(respondedByUserId []string) TaskInstanceAPIGetHitlDetailsRequest {
	r.respondedByUserId = &respondedByUserId
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) RespondedByUserName(respondedByUserName []string) TaskInstanceAPIGetHitlDetailsRequest {
	r.respondedByUserName = &respondedByUserName
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;subject_search&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetHitlDetailsRequest) SubjectSearch(subjectSearch string) TaskInstanceAPIGetHitlDetailsRequest {
	r.subjectSearch = &subjectSearch
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;body_search&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetHitlDetailsRequest) BodySearch(bodySearch string) TaskInstanceAPIGetHitlDetailsRequest {
	r.bodySearch = &bodySearch
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) CreatedAtGte(createdAtGte time.Time) TaskInstanceAPIGetHitlDetailsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) CreatedAtGt(createdAtGt time.Time) TaskInstanceAPIGetHitlDetailsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) CreatedAtLte(createdAtLte time.Time) TaskInstanceAPIGetHitlDetailsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) CreatedAtLt(createdAtLt time.Time) TaskInstanceAPIGetHitlDetailsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

func (r TaskInstanceAPIGetHitlDetailsRequest) Execute() (*HITLDetailCollection, *http.Response, error) {
	return r.ApiService.GetHitlDetailsExecute(r)
}

/*
GetHitlDetails Get Hitl Details

Get Human-in-the-loop details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @return TaskInstanceAPIGetHitlDetailsRequest
*/
func (a *TaskInstanceAPIService) GetHitlDetails(ctx context.Context, dagId string, dagRunId string) TaskInstanceAPIGetHitlDetailsRequest {
	return TaskInstanceAPIGetHitlDetailsRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
	}
}

// Execute executes the request
//  @return HITLDetailCollection
func (a *TaskInstanceAPIService) GetHitlDetailsExecute(r TaskInstanceAPIGetHitlDetailsRequest) (*HITLDetailCollection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HITLDetailCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetHitlDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/hitlDetails"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", t, "form", "multi")
		}
	} else {
		var defaultValue []string = []string{"ti_id"}
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", defaultValue, "form", "multi")
		r.orderBy = &defaultValue
	}
	if r.dagIdPattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dag_id_pattern", r.dagIdPattern, "form", "")
	}
	if r.dagIdPrefixPattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dag_id_prefix_pattern", r.dagIdPrefixPattern, "form", "")
	}
	if r.taskId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId, "form", "")
	}
	if r.taskIdPattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_pattern", r.taskIdPattern, "form", "")
	}
	if r.taskIdPrefixPattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "task_id_prefix_pattern", r.taskIdPrefixPattern, "form", "")
	}
	if r.mapIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", r.mapIndex, "form", "")
	}
	if r.state != nil {
		t := *r.state
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "state", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "state", t, "form", "multi")
		}
	}
	if r.responseReceived != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "response_received", r.responseReceived, "form", "")
	}
	if r.respondedByUserId != nil {
		t := *r.respondedByUserId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "responded_by_user_id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "responded_by_user_id", t, "form", "multi")
		}
	}
	if r.respondedByUserName != nil {
		t := *r.respondedByUserName
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "responded_by_user_name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "responded_by_user_name", t, "form", "multi")
		}
	}
	if r.subjectSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subject_search", r.subjectSearch, "form", "")
	}
	if r.bodySearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "body_search", r.bodySearch, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_gte", r.createdAtGte, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_gt", r.createdAtGt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_lte", r.createdAtLte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_lt", r.createdAtLt, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetLogRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	tryNumber int32
	fullContent *bool
	mapIndex *int32
	token *string
	accept *string
}

func (r TaskInstanceAPIGetLogRequest) FullContent(fullContent bool) TaskInstanceAPIGetLogRequest {
	r.fullContent = &fullContent
	return r
}

func (r TaskInstanceAPIGetLogRequest) MapIndex(mapIndex int32) TaskInstanceAPIGetLogRequest {
	r.mapIndex = &mapIndex
	return r
}

func (r TaskInstanceAPIGetLogRequest) Token(token string) TaskInstanceAPIGetLogRequest {
	r.token = &token
	return r
}

func (r TaskInstanceAPIGetLogRequest) Accept(accept string) TaskInstanceAPIGetLogRequest {
	r.accept = &accept
	return r
}

func (r TaskInstanceAPIGetLogRequest) Execute() (*TaskInstancesLogResponse, *http.Response, error) {
	return r.ApiService.GetLogExecute(r)
}

/*
GetLog Get Log

Get logs for a specific task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param tryNumber
 @return TaskInstanceAPIGetLogRequest
*/
func (a *TaskInstanceAPIService) GetLog(ctx context.Context, dagId string, dagRunId string, taskId string, tryNumber int32) TaskInstanceAPIGetLogRequest {
	return TaskInstanceAPIGetLogRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		tryNumber: tryNumber,
	}
}

// Execute executes the request
//  @return TaskInstancesLogResponse
func (a *TaskInstanceAPIService) GetLogExecute(r TaskInstanceAPIGetLogRequest) (*TaskInstancesLogResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskInstancesLogResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/logs/{try_number}"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"try_number"+"}", url.PathEscape(parameterValueToString(r.tryNumber, "tryNumber")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tryNumber < 0 {
		return localVarReturnValue, nil, reportError("tryNumber must be greater than 0")
	}

	if r.fullContent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "full_content", r.fullContent, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "full_content", defaultValue, "form", "")
		r.fullContent = &defaultValue
	}
	if r.mapIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", r.mapIndex, "form", "")
	} else {
		var defaultValue int32 = -1
		parameterAddToHeaderOrQuery(localVarQueryParams, "map_index", defaultValue, "form", "")
		r.mapIndex = &defaultValue
	}
	if r.token != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "token", r.token, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/x-ndjson"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.accept != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "accept", r.accept, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetMappedTaskInstanceRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	mapIndex int32
}

func (r TaskInstanceAPIGetMappedTaskInstanceRequest) Execute() (*TaskInstanceResponse, *http.Response, error) {
	return r.ApiService.GetMappedTaskInstanceExecute(r)
}

/*
GetMappedTaskInstance Get Mapped Task Instance

Get task instance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param mapIndex
 @return TaskInstanceAPIGetMappedTaskInstanceRequest
*/
func (a *TaskInstanceAPIService) GetMappedTaskInstance(ctx context.Context, dagId string, dagRunId string, taskId string, mapIndex int32) TaskInstanceAPIGetMappedTaskInstanceRequest {
	return TaskInstanceAPIGetMappedTaskInstanceRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		mapIndex: mapIndex,
	}
}

// Execute executes the request
//  @return TaskInstanceResponse
func (a *TaskInstanceAPIService) GetMappedTaskInstanceExecute(r TaskInstanceAPIGetMappedTaskInstanceRequest) (*TaskInstanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskInstanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetMappedTaskInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/{map_index}"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"map_index"+"}", url.PathEscape(parameterValueToString(r.mapIndex, "mapIndex")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetMappedTaskInstanceTriesRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	mapIndex int32
}

func (r TaskInstanceAPIGetMappedTaskInstanceTriesRequest) Execute() (*TaskInstanceHistoryCollectionResponse, *http.Response, error) {
	return r.ApiService.GetMappedTaskInstanceTriesExecute(r)
}

/*
GetMappedTaskInstanceTries Get Mapped Task Instance Tries

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param mapIndex
 @return TaskInstanceAPIGetMappedTaskInstanceTriesRequest
*/
func (a *TaskInstanceAPIService) GetMappedTaskInstanceTries(ctx context.Context, dagId string, dagRunId string, taskId string, mapIndex int32) TaskInstanceAPIGetMappedTaskInstanceTriesRequest {
	return TaskInstanceAPIGetMappedTaskInstanceTriesRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		mapIndex: mapIndex,
	}
}

// Execute executes the request
//  @return TaskInstanceHistoryCollectionResponse
func (a *TaskInstanceAPIService) GetMappedTaskInstanceTriesExecute(r TaskInstanceAPIGetMappedTaskInstanceTriesRequest) (*TaskInstanceHistoryCollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskInstanceHistoryCollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetMappedTaskInstanceTries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/{map_index}/tries"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"map_index"+"}", url.PathEscape(parameterValueToString(r.mapIndex, "mapIndex")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetMappedTaskInstanceTryDetailsRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	taskTryNumber int32
	mapIndex int32
}

func (r TaskInstanceAPIGetMappedTaskInstanceTryDetailsRequest) Execute() (*TaskInstanceHistoryResponse, *http.Response, error) {
	return r.ApiService.GetMappedTaskInstanceTryDetailsExecute(r)
}

/*
GetMappedTaskInstanceTryDetails Get Mapped Task Instance Try Details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @param taskTryNumber
 @param mapIndex
 @return TaskInstanceAPIGetMappedTaskInstanceTryDetailsRequest
*/
func (a *TaskInstanceAPIService) GetMappedTaskInstanceTryDetails(ctx context.Context, dagId string, dagRunId string, taskId string, taskTryNumber int32, mapIndex int32) TaskInstanceAPIGetMappedTaskInstanceTryDetailsRequest {
	return TaskInstanceAPIGetMappedTaskInstanceTryDetailsRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
		taskTryNumber: taskTryNumber,
		mapIndex: mapIndex,
	}
}

// Execute executes the request
//  @return TaskInstanceHistoryResponse
func (a *TaskInstanceAPIService) GetMappedTaskInstanceTryDetailsExecute(r TaskInstanceAPIGetMappedTaskInstanceTryDetailsRequest) (*TaskInstanceHistoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskInstanceHistoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetMappedTaskInstanceTryDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/{map_index}/tries/{task_try_number}"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_try_number"+"}", url.PathEscape(parameterValueToString(r.taskTryNumber, "taskTryNumber")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"map_index"+"}", url.PathEscape(parameterValueToString(r.mapIndex, "mapIndex")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TaskInstanceAPIGetMappedTaskInstancesRequest struct {
	ctx context.Context
	ApiService *TaskInstanceAPIService
	dagId string
	dagRunId string
	taskId string
	runAfterGte *time.Time
	runAfterGt *time.Time
	runAfterLte *time.Time
	runAfterLt *time.Time
	logicalDateGte *time.Time
	logicalDateGt *time.Time
	logicalDateLte *time.Time
	logicalDateLt *time.Time
	startDateGte *time.Time
	startDateGt *time.Time
	startDateLte *time.Time
	startDateLt *time.Time
	endDateGte *time.Time
	endDateGt *time.Time
	endDateLte *time.Time
	endDateLt *time.Time
	updatedAtGte *time.Time
	updatedAtGt *time.Time
	updatedAtLte *time.Time
	updatedAtLt *time.Time
	durationGte *float32
	durationGt *float32
	durationLte *float32
	durationLt *float32
	state *[]string
	pool *[]string
	poolNamePattern *string
	poolNamePrefixPattern *string
	queue *[]string
	queueNamePattern *string
	queueNamePrefixPattern *string
	executor *[]string
	versionNumber *[]int32
	tryNumber *[]int32
	operator *[]string
	operatorNamePattern *string
	operatorNamePrefixPattern *string
	mapIndex *[]int32
	renderedMapIndexPattern *string
	renderedMapIndexPrefixPattern *string
	limit *int32
	offset *int32
	orderBy *[]string
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) RunAfterGte(runAfterGte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.runAfterGte = &runAfterGte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) RunAfterGt(runAfterGt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.runAfterGt = &runAfterGt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) RunAfterLte(runAfterLte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.runAfterLte = &runAfterLte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) RunAfterLt(runAfterLt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.runAfterLt = &runAfterLt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) LogicalDateGte(logicalDateGte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.logicalDateGte = &logicalDateGte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) LogicalDateGt(logicalDateGt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.logicalDateGt = &logicalDateGt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) LogicalDateLte(logicalDateLte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.logicalDateLte = &logicalDateLte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) LogicalDateLt(logicalDateLt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.logicalDateLt = &logicalDateLt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) StartDateGte(startDateGte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.startDateGte = &startDateGte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) StartDateGt(startDateGt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.startDateGt = &startDateGt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) StartDateLte(startDateLte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.startDateLte = &startDateLte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) StartDateLt(startDateLt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.startDateLt = &startDateLt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) EndDateGte(endDateGte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.endDateGte = &endDateGte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) EndDateGt(endDateGt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.endDateGt = &endDateGt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) EndDateLte(endDateLte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.endDateLte = &endDateLte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) EndDateLt(endDateLt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.endDateLt = &endDateLt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) UpdatedAtGte(updatedAtGte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) UpdatedAtGt(updatedAtGt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) UpdatedAtLte(updatedAtLte time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) UpdatedAtLt(updatedAtLt time.Time) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) DurationGte(durationGte float32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.durationGte = &durationGte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) DurationGt(durationGt float32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.durationGt = &durationGt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) DurationLte(durationLte float32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.durationLte = &durationLte
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) DurationLt(durationLt float32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.durationLt = &durationLt
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) State(state []string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.state = &state
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Pool(pool []string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.pool = &pool
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;pool_name_prefix_pattern&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) PoolNamePattern(poolNamePattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.poolNamePattern = &poolNamePattern
	return r
}

// Prefix match — returns items whose value starts with the given string (case-sensitive, index-friendly). Use the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1|dag2&#x60;). Use &#x60;~&#x60; to match all. Wildcard characters (&#x60;%&#x60;, &#x60;_&#x60;) are treated as literal characters. Trailing non-alphanumeric characters in the prefix are stripped before matching so the range scan stays index-compatible under locale-aware collations — e.g. &#x60;test_&#x60; effectively matches items starting with &#x60;test&#x60;, and &#x60;s3://&#x60; matches items starting with &#x60;s3&#x60;.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) PoolNamePrefixPattern(poolNamePrefixPattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.poolNamePrefixPattern = &poolNamePrefixPattern
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Queue(queue []string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.queue = &queue
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;queue_name_prefix_pattern&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) QueueNamePattern(queueNamePattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.queueNamePattern = &queueNamePattern
	return r
}

// Prefix match — returns items whose value starts with the given string (case-sensitive, index-friendly). Use the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1|dag2&#x60;). Use &#x60;~&#x60; to match all. Wildcard characters (&#x60;%&#x60;, &#x60;_&#x60;) are treated as literal characters. Trailing non-alphanumeric characters in the prefix are stripped before matching so the range scan stays index-compatible under locale-aware collations — e.g. &#x60;test_&#x60; effectively matches items starting with &#x60;test&#x60;, and &#x60;s3://&#x60; matches items starting with &#x60;s3&#x60;.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) QueueNamePrefixPattern(queueNamePrefixPattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.queueNamePrefixPattern = &queueNamePrefixPattern
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Executor(executor []string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.executor = &executor
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) VersionNumber(versionNumber []int32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.versionNumber = &versionNumber
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) TryNumber(tryNumber []int32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.tryNumber = &tryNumber
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Operator(operator []string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.operator = &operator
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;operator_name_prefix_pattern&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) OperatorNamePattern(operatorNamePattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.operatorNamePattern = &operatorNamePattern
	return r
}

// Prefix match — returns items whose value starts with the given string (case-sensitive, index-friendly). Use the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1|dag2&#x60;). Use &#x60;~&#x60; to match all. Wildcard characters (&#x60;%&#x60;, &#x60;_&#x60;) are treated as literal characters. Trailing non-alphanumeric characters in the prefix are stripped before matching so the range scan stays index-compatible under locale-aware collations — e.g. &#x60;test_&#x60; effectively matches items starting with &#x60;test&#x60;, and &#x60;s3://&#x60; matches items starting with &#x60;s3&#x60;.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) OperatorNamePrefixPattern(operatorNamePrefixPattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.operatorNamePrefixPattern = &operatorNamePrefixPattern
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) MapIndex(mapIndex []int32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.mapIndex = &mapIndex
	return r
}

// SQL LIKE expression — use &#x60;%&#x60; / &#x60;_&#x60; wildcards (e.g. &#x60;%customer_%&#x60;). or the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1 | dag2&#x60;). Regular expressions are **not** supported.   **Performance note:** this full-match pattern is evaluated as &#x60;&#x60;ILIKE &#39;%term%&#39;&#x60;&#x60; and most of the time prevents the database from using B-tree indexes, which can be very slow on large tables. Prefer the equivalent &#x60;&#x60;rendered_map_index_prefix_pattern&#x60;&#x60; parameter when possible.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) RenderedMapIndexPattern(renderedMapIndexPattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.renderedMapIndexPattern = &renderedMapIndexPattern
	return r
}

// Prefix match — returns items whose value starts with the given string (case-sensitive, index-friendly). Use the pipe &#x60;|&#x60; operator for OR logic (e.g. &#x60;dag1|dag2&#x60;). Use &#x60;~&#x60; to match all. Wildcard characters (&#x60;%&#x60;, &#x60;_&#x60;) are treated as literal characters. Trailing non-alphanumeric characters in the prefix are stripped before matching so the range scan stays index-compatible under locale-aware collations — e.g. &#x60;test_&#x60; effectively matches items starting with &#x60;test&#x60;, and &#x60;s3://&#x60; matches items starting with &#x60;s3&#x60;.
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) RenderedMapIndexPrefixPattern(renderedMapIndexPrefixPattern string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.renderedMapIndexPrefixPattern = &renderedMapIndexPrefixPattern
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Limit(limit int32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.limit = &limit
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Offset(offset int32) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.offset = &offset
	return r
}

// Attributes to order by, multi criteria sort is supported. Prefix with &#x60;-&#x60; for descending order. Supported attributes: &#x60;id, state, duration, start_date, end_date, map_index, try_number, logical_date, run_after, data_interval_start, data_interval_end, rendered_map_index, operator, run_after, logical_date, data_interval_start, data_interval_end&#x60;
func (r TaskInstanceAPIGetMappedTaskInstancesRequest) OrderBy(orderBy []string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	r.orderBy = &orderBy
	return r
}

func (r TaskInstanceAPIGetMappedTaskInstancesRequest) Execute() (*TaskInstanceCollectionResponse, *http.Response, error) {
	return r.ApiService.GetMappedTaskInstancesExecute(r)
}

/*
GetMappedTaskInstances Get Mapped Task Instances

Get list of mapped task instances.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dagId
 @param dagRunId
 @param taskId
 @return TaskInstanceAPIGetMappedTaskInstancesRequest
*/
func (a *TaskInstanceAPIService) GetMappedTaskInstances(ctx context.Context, dagId string, dagRunId string, taskId string) TaskInstanceAPIGetMappedTaskInstancesRequest {
	return TaskInstanceAPIGetMappedTaskInstancesRequest{
		ApiService: a,
		ctx: ctx,
		dagId: dagId,
		dagRunId: dagRunId,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return TaskInstanceCollectionResponse
func (a *TaskInstanceAPIService) GetMappedTaskInstancesExecute(r TaskInstanceAPIGetMappedTaskInstancesRequest) (*TaskInstanceCollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskInstanceCollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskInstanceAPIService.GetMappedTaskInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/listMapped"
	localVarPath = strings.Replace(localVarPath, "{"+"dag_id"+"}", url.PathEscape(parameterValueToString(r.dagId, "dagId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dag_run_id"+"}", url.PathEscape(parameterValueToString(r.dagRunId, "dagRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.runAfterGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run_after_gte", r.runAfterGte, "form", "")
	}
	if r.runAfterGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run_after_gt", r.runAfterGt, "form", "")
	}
	if r.runAfterLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run_after_lte", r.runAfterLte, "form", "")
	}
	if r.runAfterLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run_after_lt", r.runAfterLt, "form", "")
	}
	if r.logicalDateGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logical_date_gte", r.logicalDateGte, "form", "")
	}
	if r.logicalDateGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logical_date_gt", r.logicalDateGt, "form", "")
	}
	if r.logicalDateLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logical_date_lte", r.logicalDateLte, "form", "")
	}
	if r.logicalDateLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logical_date_lt", r.logicalDateLt, "form", "")
	}
	if r.startDateGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_gte", r.startDateGte, "form", "")
	}
	if r.startDateGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_gt", r.startDateGt, "form", "")
	}
	if r.startDateLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_lte", r.startDateLte, "form", "")
	}
	if r.startDateLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_lt", r.startDateLt, "form", "")
	}
	if r.endDateGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_gte", r.endDateGte, "form", "")
	}
	if r.endDateGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_gt", r.endDateGt, "form", "")
	}
	if r.endDateLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lte", r.endDateLte, "form", "")
	}
	if r.endDateLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at_gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at_gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at_lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at_lt", r.updatedAtLt, "form", "")
	}
	if r.durationGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration_gte", r.durationGte, "form", "")
	}
	if r.durationGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration_gt", r.durationGt, "form", "")
	}
	if r.durationLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration_lte", r.durationLte, "form", "")
	}
	if r.durationLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "duration_lt", r.durationLt, "form", "")
	}
	if r.state != nil {
		t := *r.state
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "state", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "state", t, "form", "multi")
		}
	}
	if r.pool != nil {
		t := *r.pool
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "pool", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "pool", t, "form", "multi")
		}
	}
	if r.poolNamePattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_name_pattern", r.poolNamePattern, "form", "")
	}
	if r.poolNamePrefixPattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool_name_prefix_pattern", r.poolNamePrefixPattern, "form", "")
	}
	if r.queue != nil {
		t := *r.queue
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "queue", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "queue", t, "form", "multi")
		}
	}
	if r.queueNamePattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "queue_name_pattern", r.queueNamePattern, "form", "")
	}
	if r.queueNamePrefixPattern != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "queue_name_prefix_pattern", r.queueNamePrefixPattern, "form", "")
	}
	if r.executor != nil {
		t := *r.executor
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "executor", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "executor", t, "form", "multi")
		}
	}
	if r.versionNumber != nil {
		t := *r.versionNumber
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
[...]
