/*
Airflow API

Airflow API. All endpoints located under ``/api/v2`` can be used safely, are stable and backward compatible. Endpoints located under ``/ui`` are dedicated to the UI and are subject to breaking change depending on the need of the frontend. Users should not rely on those but use the public ones instead.

API version: 2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package airflow

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
	"reflect"
)


// JobAPIService JobAPI service
type JobAPIService service

type JobAPIGetJobsRequest struct {
	ctx context.Context
	ApiService *JobAPIService
	isAlive *bool
	startDateGte *time.Time
	startDateGt *time.Time
	startDateLte *time.Time
	startDateLt *time.Time
	endDateGte *time.Time
	endDateGt *time.Time
	endDateLte *time.Time
	endDateLt *time.Time
	limit *int32
	offset *int32
	orderBy *[]string
	jobState *string
	jobType *string
	hostname *string
	executorClass *string
}

func (r JobAPIGetJobsRequest) IsAlive(isAlive bool) JobAPIGetJobsRequest {
	r.isAlive = &isAlive
	return r
}

func (r JobAPIGetJobsRequest) StartDateGte(startDateGte time.Time) JobAPIGetJobsRequest {
	r.startDateGte = &startDateGte
	return r
}

func (r JobAPIGetJobsRequest) StartDateGt(startDateGt time.Time) JobAPIGetJobsRequest {
	r.startDateGt = &startDateGt
	return r
}

func (r JobAPIGetJobsRequest) StartDateLte(startDateLte time.Time) JobAPIGetJobsRequest {
	r.startDateLte = &startDateLte
	return r
}

func (r JobAPIGetJobsRequest) StartDateLt(startDateLt time.Time) JobAPIGetJobsRequest {
	r.startDateLt = &startDateLt
	return r
}

func (r JobAPIGetJobsRequest) EndDateGte(endDateGte time.Time) JobAPIGetJobsRequest {
	r.endDateGte = &endDateGte
	return r
}

func (r JobAPIGetJobsRequest) EndDateGt(endDateGt time.Time) JobAPIGetJobsRequest {
	r.endDateGt = &endDateGt
	return r
}

func (r JobAPIGetJobsRequest) EndDateLte(endDateLte time.Time) JobAPIGetJobsRequest {
	r.endDateLte = &endDateLte
	return r
}

func (r JobAPIGetJobsRequest) EndDateLt(endDateLt time.Time) JobAPIGetJobsRequest {
	r.endDateLt = &endDateLt
	return r
}

func (r JobAPIGetJobsRequest) Limit(limit int32) JobAPIGetJobsRequest {
	r.limit = &limit
	return r
}

func (r JobAPIGetJobsRequest) Offset(offset int32) JobAPIGetJobsRequest {
	r.offset = &offset
	return r
}

// Attributes to order by, multi criteria sort is supported. Prefix with &#x60;-&#x60; for descending order. Supported attributes: &#x60;id, dag_id, state, job_type, start_date, end_date, latest_heartbeat, executor_class, hostname, unixname&#x60;
func (r JobAPIGetJobsRequest) OrderBy(orderBy []string) JobAPIGetJobsRequest {
	r.orderBy = &orderBy
	return r
}

func (r JobAPIGetJobsRequest) JobState(jobState string) JobAPIGetJobsRequest {
	r.jobState = &jobState
	return r
}

func (r JobAPIGetJobsRequest) JobType(jobType string) JobAPIGetJobsRequest {
	r.jobType = &jobType
	return r
}

func (r JobAPIGetJobsRequest) Hostname(hostname string) JobAPIGetJobsRequest {
	r.hostname = &hostname
	return r
}

func (r JobAPIGetJobsRequest) ExecutorClass(executorClass string) JobAPIGetJobsRequest {
	r.executorClass = &executorClass
	return r
}

func (r JobAPIGetJobsRequest) Execute() (*JobCollectionResponse, *http.Response, error) {
	return r.ApiService.GetJobsExecute(r)
}

/*
GetJobs Get Jobs

Get all jobs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return JobAPIGetJobsRequest
*/
func (a *JobAPIService) GetJobs(ctx context.Context) JobAPIGetJobsRequest {
	return JobAPIGetJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JobCollectionResponse
func (a *JobAPIService) GetJobsExecute(r JobAPIGetJobsRequest) (*JobCollectionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobCollectionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobAPIService.GetJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.isAlive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_alive", r.isAlive, "form", "")
	}
	if r.startDateGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_gte", r.startDateGte, "form", "")
	}
	if r.startDateGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_gt", r.startDateGt, "form", "")
	}
	if r.startDateLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_lte", r.startDateLte, "form", "")
	}
	if r.startDateLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date_lt", r.startDateLt, "form", "")
	}
	if r.endDateGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_gte", r.endDateGte, "form", "")
	}
	if r.endDateGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_gt", r.endDateGt, "form", "")
	}
	if r.endDateLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lte", r.endDateLte, "form", "")
	}
	if r.endDateLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date_lt", r.endDateLt, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.orderBy != nil {
		t := *r.orderBy
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", t, "form", "multi")
		}
	} else {
		var defaultValue []string = []string{"id"}
		parameterAddToHeaderOrQuery(localVarQueryParams, "order_by", defaultValue, "form", "multi")
		r.orderBy = &defaultValue
	}
	if r.jobState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_state", r.jobState, "form", "")
	}
	if r.jobType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "job_type", r.jobType, "form", "")
	}
	if r.hostname != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hostname", r.hostname, "form", "")
	}
	if r.executorClass != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "executor_class", r.executorClass, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v HTTPExceptionResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
